/* This file is reserved for overriding and extending the template styles. */

.page-link {
    display: flex !important;
    justify-content: center;
}

.page-item {
    padding-left: 1em !important;
    padding-right: 1em !important;
}

ul li {
    list-style-type: none;
}